.central-column {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.central-column h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.central-column p {
  font-size: 16px;
  color: #666;
}

/* CSS for the Grid */
.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  text-align: center;
}

/* Define a CSS class named .grid */
.grid {
  display: grid; /* Use CSS Grid layout */
  grid-gap: 15px; /* Set the gap between grid items to 15 pixels */
  grid-template-columns: 1fr 4fr; /* Define grid columns: 20% width for the first column, and 80% for the second column */
  text-align: center; /* Center-align the content within grid items */
  border: 1px solid green; /* Add a green border with a 1-pixel width to the grid */
  width: 95%; /* Set the width of the grid to 95% of its containing element */
  margin: 20px; /* Add a 20-pixel margin around the grid */
}

/* CSS for the Columns */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

/* Optional: Style for the Graph */
.central-column #weekly-distance-chart {
  margin-top: 20px;
}


/* CSS for the Icons */
.column .fas {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Additional Styles */
.left-column {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Optional: Style for the KM row */
.left-column > div:nth-child(3) {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

html, body{
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #222;
    text-align: left;
    /* background-color: #f7f7fa;*/
    background-color: #f7f7fa;
    font-family: 'Outfit';

}


/* login page css */
html {
  overflow: auto;
}

/* Welcome Login Page */
.WelcomePage_login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #edf1f6;
}
.WelcomePage_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    background: #fff;
}
.WelcomePage_login .WelcomePage_container .WelcomePage_headline {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: normal;
    text-align: center;
}

.Button_login {
    display: inline-block;
    font-weight: 1000;
    color: #222;
    font-size: 1rem;
    line-height: 1.75;
    text-align: left;
    background-color: #99CC66;
    background: #99CC66;
    text-align: center;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 9px 48px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 20px;
    min-width: 180px;
    position: relative;
}
.Button_login:hover
{
  opacity: 1;
  color: #FFFFFF;
  background-color: #F39C12;
  border: 1px #99ccff solid;
  font-family: 'Outfit';

}
.Button_login:active
{
  font-family: 'Outfit';
  background-color: #F39C12;
  border: 1px #000000 solid;
}