/* Define a CSS class named .grid */
.grid-activity-map-plot {
  display: grid; /* Use CSS Grid layout */
  grid-template-columns: 500px 1fr;
  text-align: center; /* Center-align the content within grid items */
  /*border: 1px solid green;  Add a green border with a 1-pixel width to the grid */
  margin-left: 30px; /* Add a 20-pixel margin around the grid */
  margin-right: 30px; /* Add a 20-pixel margin around the grid */
  transition: 300ms; /* Change as needed */
}

.last-activities-graph {
   border: 1px solid #ddd; /*Set border in red of each square */
    width: 100%;
}

.last-activities-map {
   border: 1px solid #ddd; /*Set border in red of each square */
    width: 100%;
}