
/* Define a CSS class named .grid */
.grid {
  display: grid; /* Use CSS Grid layout */
  grid-template-columns: 350px 1fr;
  text-align: center; /* Center-align the content within grid items */
  /*border: 1px solid green;  Add a green border with a 1-pixel width to the grid */
  margin-left: 30px; /* Add a 20-pixel margin around the grid */
  margin-right: 30px; /* Add a 20-pixel margin around the grid */
  transition: 300ms; /* Change as needed */
}

/*
@media only screen and (max-width: 1850px) {
 .grid{
      grid-template-columns: 0px 1fr;
   }
}
*/

/* Calendar container styles */
.calendar-container {
    text-align: left; /* Align text to the left within the container */
    background-color: #ffffff; /* Set background color */
    padding: 20px; /* Add padding around the container */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a professional look */
    border-radius: 15px; /* Rounded corners */
}

html, body{
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #222;
    text-align: left;
    background-color: #edf1f6;
    font-family: 'Outfit';

}
